<!--<div class="top-bar w-100">
    <div class="container container-extended">
        <div class="row">
            <div class="col-md-4">
                <div class="search-bar">
                    {exp:search:simple_form form_class="form container container-extended" result_page="search" no_result_page="/search/page_noresults" status="open" channel="home|blog|event|business|secondary_page" search_in="everywhere"}
                    <h4 class="hdr d-none">Search Hot Springs Chamber</h4>
                    <div class="form-group">
                        <label for="keywords" class="form-label sr-only">Search:</label>
                        <div class="input-icons d-flex">
                            <i class="far fa-search icon"></i>
                            <input type="text" name="keywords" id="keywords" value="" placeholder="Search" size="18" maxlength="100" class="form-control w-100">
                            <button type="submit" value="Search" class="submit"><i class="far fa-long-arrow-right flex-shrink-1"></i></button>
                        </div>
                    </div>
                    <div class="form-group form-actions text-right">

                    </div>
                    {/exp:search:simple_form}
                </div>
            </div>
            <div class="col-md-8">
                <div class="d-flex justify-content-end">
                    &lt;!&ndash; <a class="d-none d-md-inline-block d-lg-none text-white" href="tel:605-745-4140" title="Call 605-745-4140"><span>605-745-4140</span></a><span class="d-none d-xl-inline-block text-white">605-745-4140</span> &ndash;&gt;
                    &lt;!&ndash; <a class="d-none d-md-inline-block text-white" href="tel:605-745-4140" title="Call 605-745-4140"><span>605-745-4140</span></a><span class="d-none d-xl-inline-block text-white">&nbsp; Hot Springs Chamber Contact</span>
                     <span class="ml-4 d-none d-md-inline-block text-white">801 S. 6th Street</span> &ndash;&gt;
                </div>
            </div>
        </div>
    </div>
</div>-->


<div class="menu-cont w-100">
    <div class="top-bar">
        <div class="d-flex justify-content-start align-items-top">
            <a class="social-icon d-flex align-items-center justify-content-center mr-3"
               href="https://www.facebook.com/HotSpringsSouthDakota/" target="_blank" title="Hot Springs Facebook"><i
                    class="fab fa-facebook-f"></i></a>
            <a class="social-icon d-flex align-items-center justify-content-center mr-3"
               href="https://www.instagram.com/hotspringssouthdakota/" target="_blank" title="Hot Springs Instagram"><i
                    class="fab fa-instagram"></i></a>
            <a class="social-icon d-flex align-items-center justify-content-center mr-3"
               href="https://twitter.com/hotspringssd" target="_blank" title="Hot Springs X (Twitter)"><i
                    class="fab fa-x-twitter"></i></a>
            <a class="social-icon d-flex align-items-center justify-content-center"
               href="https://www.youtube.com/@HotSpringsChamberofCommerce" target="_blank" title="Hot Springs YouTube"><i
                    class="fab fa-youtube"></i></a>
            <a href="http://business.hotsprings-sd.com/applicationtojoin" class="join-link-top d-flex align-items-center justify-content-center">Join</a>
            <a href="https://visitor.r20.constantcontact.com/manage/optin?v=001AYBE7UAKClmke4CvVkMlXiWmvm_wSW4jYpDCtwx7P1yGnTeuTPnP37G7PnSG6SylzZaYweM_WeAWIqAqppv6QaeQwlzH2wijciBlZmw06YWxnMqYtKc8Hy2UcuAFHBQPTzh3Vqva8c9c8iRA80EaigIpDw0yq6E1"
               class="join-link-top d-flex align-items-center justify-content-center" rel="noopener noreferrer" target="_blank">Newsletter Signup</a>
        </div>

        <div class="search-bar">
            {exp:search:simple_form form_class="form container container-extended" result_page="search"
            no_result_page="/search/page_noresults" status="open" channel="home|blog|event|business|secondary_page"
            search_in="everywhere"}
            <h4 class="hdr d-none">Search Hot Springs Chamber</h4>
            <div class="form-group">
                <label for="keywords" class="form-label sr-only">Search:</label>
                <div class="input-icons d-flex">

                    <input type="text" name="keywords" id="keywords" value="" placeholder="Search" size="18"
                           maxlength="100" class="form-control w-100">
                    <button type="submit" value="Search" class="submit"><i class="far fa-search flex-shrink-1"></i><!--<i
                            class="far fa-long-arrow-right flex-shrink-1"></i>--></button>
                </div>
            </div>
            <div class="form-group form-actions text-right">

            </div>
            {/exp:search:simple_form}
        </div>
    </div>
    <div class="container container-extended">
        <div class="row" style="margin-left:auto;margin-right:auto;">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg py-3">
                    <div class="px-4 d-flex brand-holder">
                        <a class="navbar-brand flex-grow-1" href="/">
                            <img class="blue-logo"
                                 src="/uploads/Hot_Springs_Logo_Redesign2_Simple_with_Emboss_and_Outline.png"
                                 alt="Hot Springs South Dakota Logo" title="Hot Springs South Dakota Logo"/>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <!--<span class="navbar-toggler-icon"></span>-->
                            <img class="" src="/assets/img/hamburger-menu.png" alt="menu icon" title="menu"/>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse py-4 py-lg-0 flex-shrink-1" id="navbarNav">
                        <ul class="navbar-nav d-flex justify-content-end w-100 align-items-left align-items-lg-center">
                            <li class="nav-item d-inline-block">
                                <a class="nav-link" href="https://hotspringschamberofcommerce.growthzoneapp.com/a/MIC/Login"
                                   title="BECOME A MEMBER">Member Hub Login</a>
                            </li>

                            <li class="nav-item dropdown d-inline-block">
                                <a class="nav-link dropdown-toggle"
                                   href="/about"
                                   id="aboutDropdown"
                                   role="button"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false"
                                   title="About Us">
                                    About Us
                                </a>

                                <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                                    <a class="dropdown-item" href="/about">About Us</a>
                                    <!--<a class="dropdown-item" href="">News</a>-->
                                    <a class="dropdown-item" href="https://business.hotsprings-sd.com/applicationtojoin">Become a Member</a>
                                    <a class="dropdown-item" href="/about/committees">Committees</a>
                                    <a class="dropdown-item" href="/about/cost-of-membership">Cost of Membership</a>
                                    <a class="dropdown-item" href="/about/chamber-staff">Chamber Staff</a>
                                    <a class="dropdown-item" href="/about/board-of-directors">Board of Directors</a>
                                    <!--<a class="dropdown-item" href="/faq">FAQ</a>-->
                                    <!--<a class="dropdown-item" href="/experience-hot-springs">Experience Hot Springs</a>-->
                                </div>
                            </li>

                            <li class="nav-item dropdown d-inline-block">
                                <a class="nav-link dropdown-toggle"
                                   href="/about"
                                   id="relocateDropdown"
                                   role="button"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false"
                                   title="Relocate">
                                    Relocate
                                </a>

                                <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                                    <a class="dropdown-item" href="/relocate/live-here">Live Here</a>
                                    <a class="dropdown-item" href="/relocate/education">Education</a>
                                    <a class="dropdown-item" href="/relocate/economic-development">Economic Development</a>
                                </div>
                            </li>

                            <li class="nav-item d-inline-block">
                                <a class="nav-link" href="http://business.hotsprings-sd.com/publicmemberdirectory"
                                   title="Member Directory">Business Directory</a>
                            </li>

                            <li class="nav-item d-inline-block">
                                <a class="nav-link" href="http://business.hotsprings-sd.com/eventcalendar"
                                   title="Events">Events</a>
                            </li>

                            <li class="nav-item d-inline-block">
                                <a class="nav-link" href="/visit/request-a-welcome-magazine"
                                   title="Welcome Magazine">Welcome Magazine</a>
                            </li>

                            <li class="nav-item d-inline-block">
                                <a href="/visit/request-a-southern-hills-vacation-guide"
                                   class="nav-link">
                                    Southern Hills Vacation Guide
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
