{layout="site/_layout_default" body_class="page single directory profile"}

{exp:structure:entries channel="event" require_entry="yes" url_title="{segment_2}" show_future_entries="yes"}
{if no_results}
    {redirect="404"}
{/if}

{layout:set name="hero"}
{if event_featured_image}
<div class="hero d-flex flex-column" style="background:url({event_featured_image:large});">
{if:else}
<div class="hero d-flex flex-column small-hero">
{/if}
  <div class="desktop-overlay d-block"></div>

    <div class="heading-container flex-grow-1 d-lg-flex align-items-end pb-5 mb-5">
      <div class="w-100 d-block">
        <div class="container container-extended mb-auto d-flex align-items-md-end">
          <div class="row">
            <div class="col-12">

              <div class="d-flex h-100 align-items-center">
                <div>
                  <div>
                    <span class="text-white"></span>
                    <h2 class="heading text-white">{title}</h2>
                  </div>
                  <span class="line-before text-white">{event_timeframe}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="form-container bg-transparent">
    <div class="container container-extended pt-5 pt-lg-0">
      <div class="row">
        <div class="col-lg-11">
          <div class="row">

            {if event_facebook_link}
            <div class="col-md-3 px-md-0 bg-white d-flex align-items-center justify-content-center">
              <div class="subpage-hero-content d-flex align-items-center justify-content-center py-4">
                <a class="line-before" href="{event_facebook_link}" target="_blank">Facebook</a>
              </div>
            </div>
            {/if}

            {if event_tickets_url}
            <div class="subpage-hero-content col-md-3 px-md-0 d-flex align-items-center justify-content-center bg-darkblue py-4">
              <a class="line-after text-white" href="{event_tickets_url}" target="_blank">More Info</a>
            </div>
            {/if}

          </div>
        </div>
      </div>
    </div>
  </div>


</div><!-- /.hero -->

{/layout:set}



<div class="container container-extended py-5 mb-3">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <h2 class="heading light-droplet">Event Details</h2>

          {event_content}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Event Location</h2>
          <p>
            {event_location}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Event Timeframe</h2>
          <p>
            {event_timeframe}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div id="mapFrame" style="width:100%;height: 500px;"></div>
    </div>
  </div>
</div>


{/exp:structure:entries}


{layout:set name="nadir"}

  <!--<script src="https://maps.googleapis.com/maps/api/js?key=" type="text/javascript"></script>-->
  <script type="text/javascript">
  {exp:channel:entries dynamic="no" channel="event" require="yes" limit="1" url_title="{segment_2}" show_future_entries="yes"}
  	var locations = [
      ["{title}",{event_latitude},{event_longitude},{count},"{event_featured_image:small}",
      "/events/{url_title}"],
  	];

      var map = new google.maps.Map(document.getElementById('mapFrame'), {
        zoom: 15,
        center: new google.maps.LatLng({event_latitude}, {event_longitude}),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      var infowindow = new google.maps.InfoWindow();

      var marker, i;

      for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
  			var htmlMarker = "<div class='member-card'><h2>" + locations[i][0] + "</h2><img src='" + locations[i][4] + "' class='img-fluid' alt='" + locations[i][0] + "'><p><a href='" + locations[i][5] +"' title='" + locations[i][0] + "' class='btn btn-primary btn-listing'>View Listing</a></p></div>";
            infowindow.setContent(htmlMarker);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
  {/exp:channel:entries}
  </script>
  {/layout:set}
