<footer class="site-footer">

<!--  <div class="guide-section">
    <div class="container container-extended">
      <div class="row d-flex justify-content-around">
        <div class="col-md-5 text-center">
          <h2>Hot Springs Welcome Magazine</h2>
          <p>
            There’s so much to see and do, make sure you don’t miss a thing! Get a copy of our free welcome magazine—once you see all we have to offer, you just might stay forever!
          </p>
          <a class="btn btn-default mt-3 d-block w-100 d-sm-inline-block" href="/visit/request-a-welcome-magazine/" title="Hot Springs Welcome Magazine">Get It Now</a>
        </div>
        <div class="col-md-5 pt-5 pt-md-0 mt-4 mt-md-0 text-center">
          <h2>Southern Hills Vacation Guide</h2>
          <p>
            The southern Black Hills are a playground for all kinds of adventure, not to mention museums and attractions for the whole family. Click here for a free guide to our communities, including Hot Springs, Custer, Keystone and Hill City.
          </p>
          <button class="btn btn-default mt-3 d-block w-100 d-sm-inline-block" data-target="#southernHillsModal" data-toggle="modal" >Get It Now</button>
        </div>

      </div>
    </div>
  </div>-->


<!--  <div class="chat-section">
    <div class="container container-extended">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-2">
          <h2 class="text-48 mb-0">Let's Chat</h2>
        </div>
        <div class="col-md-8">
          <p class="mb-0 text-left text-md-center">
            Reach out to us, and we'll happily answer any questions you may have!
          </p>
        </div>
        <div class="col-md-2">
          <a class="btn btn-light mt-3 d-block w-100 d-sm-inline-block" href="/contact-us/">CONTACT US</a>
        </div>
      </div>
    </div>
  </div>&lt;!&ndash; /.chat-section &ndash;&gt;-->

  <div class="contact-section">
    <div class="container container-extended">
      <div class="row">
        <div class="col-md-4">
          <span class="d-block font-weight-bold pb-2">VISIT US</span>
          <span class="text-20 text-literata">
            801 S. 6th Street<br />
            Hot Springs, SD 57747
          </span>
        </div>
        <div class="col-md-4">
          <span class="d-block font-weight-bold pb-2">SPEAK WITH US</span>
          <span class="text-20">
            <a class="d-inline-block d-lg-none text-literata" href="tel:605-745-4140" title="Call 605-745-4140"><span>605-745-4140</span></a>
            <span class="d-none d-lg-inline-block text-literata">605-745-4140</span><br />
            or <a class="text-lightblue text-literata" href="/contact-us">reach out <i class="fal fa-long-arrow-right"></i></a>
          </span>
        </div>
        <div class="col-md-4">
          <span class="d-block font-weight-bold pb-2">FOLLOW US</span>
          <div class="d-flex justify-content-start align-items-top">
            <a class="social-icon d-flex align-items-center justify-content-center mr-3" href="https://www.facebook.com/HotSpringsSouthDakota/" target="_blank" title="Hot Springs Facebook"><i class="fab fa-facebook-f"></i></a>
            <a class="social-icon d-flex align-items-center justify-content-center mr-3" href="https://www.instagram.com/hotspringssouthdakota/" target="_blank" title="Hot Springs Instagram"><i class="fab fa-instagram"></i></a>
            <a class="social-icon d-flex align-items-center justify-content-center mr-3" href="https://twitter.com/hotspringssd" target="_blank" title="Hot Springs X (Twitter)"><i class="fab fa-x-twitter"></i></a>
            <a class="social-icon d-flex align-items-center justify-content-center" href="https://www.youtube.com/@HotSpringsChamberofCommerce" target="_blank" title="Hot Springs YouTube"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-extended">
    <div class="row">
      <div class="col-md-12">
        <span class="copyright">&copy; 2025 Hot Springs Chamber of Commerce. All Rights Reserved.</span><br />
        <div class="d-inline-block">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/privacy-policy/">Privacy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://business.hotsprings-sd.com/webcontent">Job Listings</a>
            </li>
          </ul>
        </div>
      </div>
<!--      <div class="col-md-4 text-right">
        <a href="http://evergreenmediarc.com" target="_blank"><img class="developed-by py-4 py-md-0" src="/assets/img/EVERGREEN-dev.png" alt="Developed By Evergreen Media RC" title="Evergreen Media Rapid City" /></a>
      </div>-->
    </div>
  </div>
</footer>
